<form action="/posted-successfully" method="POST">
    <p>Title:</p>
    <input type="text" name="title">
    <p>Description:</p>
    <textarea name="description"></textarea>
    <button type="submit">send</button>
</form>